<p>Name: <%= @house.name %></p>
<p>Founder: <%= @house.founder %></p>
<p>Colours: <%= @house.colours %></p>
<p>Animal: <%= @house.animal %></p>
<p>Traits: <%= @house.traits %></p>
<p>Teacher: <%= @house.teacher %></p>
<p>Ghost: <%= @house.ghost %></p>
<p>Common Room: <%= @house.common_room %></p>
